[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на Network Examples | Qt Network 5.8
Type=Link
URL=http://doc.qt.io/qt-5/examples-network.html
Icon=text-html
